@using RatScanner.ViewModel
@inject SettingsVM SettingsVM
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime;
@implements IDisposable

<div Class="d-flex justify-space-between align-center ma-1" Style="position: absolute; bottom: 0; left: 0; right: 0;">
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Class="light-green darken-3 ma-1" FullWidth="true" OnClick="SaveSettings">Save</MudButton>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" Class="ma-1" FullWidth="true" OnClick="DiscardSettings">Cancel</MudButton>
</div>

<MudOverlay @bind-Visible="_showSpinner" Absolute="true" DarkBackground ZIndex="9999">
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
</MudOverlay>

@code {
    private bool _showSpinner;

    private async void SaveSettings() {
        _showSpinner = true;
        await SettingsVM.SaveSettings();
        StateHasChanged();
        NavigationManager.NavigateTo("/app");
    }

    private void DiscardSettings() {
        SettingsVM.LoadSettings();
        StateHasChanged();
        NavigationManager.NavigateTo("/app");
    }

    protected override void OnInitialized() {
        SettingsVM.PropertyChanged += PropertyChangeHandler;
    }

    private async void PropertyChangeHandler(object? sender, EventArgs e) {
        await InvokeAsync(() => StateHasChanged());
    }

    public void Dispose() {
        SettingsVM.PropertyChanged -= PropertyChangeHandler;
    }

}
