@inherits LayoutComponentBase
@layout MainLayout
@inject Interfaces.IRatScannerUI RatScannerUI
@inject IJSRuntime JsRuntime;

<div style="width: 100%; height: 100%">
    <MudLayout>
        <MudMainContent Style="height: 100vh; width: 100vw; padding: 0">
            @Body
        </MudMainContent>
    </MudLayout>
</div>

@code {

}
