@page "/"

<PageTitle>Main Page</PageTitle>

<h1>Hello, Moritz!</h1>

This is a prototype RatScanner UI

<MudButton Variant="Variant.Filled" @onclick="RunOverlays">Default</MudButton>

@code {
    private void RunOverlays()
    {
    }
}
