.itemicon {
	display: block;
	max-width: 64px;
	max-height: 64px;
	width: auto;
	height: auto;
}

.stroke {
	/* ReSharper disable InvalidValue */
	filter: drop-shadow(-1px - 1px 0px #000000) drop-shadow(1px - 1px 0px #000000) drop-shadow(1px 1px 0px #000000) drop-shadow(-1px 1px 0px #000000);
	/* ReSharper restore InvalidValue */
}
